@font-face{
    font-family: 'DB' ;
    src: url(../font/DMsans/DMSans-Bold.ttf);
}
@font-face{
    font-family: 'DR' ;
    src: url(../font/DMsans/DMSans-Regular.ttf);
}
@font-face{
    font-family:'RB' ;
    src: url(../font/Roboto/Roboto-Bold.ttf);
}
@font-face{
    font-family:'RL' ;
    src: url(../font/Roboto/Roboto-Light.ttf);
}
@font-face{
    font-family:'OB' ;
    src: url(../font/OpenSans-Bold.ttf);
}
@font-face{
    font-family:'OR' ;
    src: url(../font/OpenSans-Regular.ttf);
}
@font-face{
    font-family:'OL' ;
    src: url(../font/OpenSans-Light.ttf);
}
@font-face{
    font-family:'OIL' ;
    src: url(../font/OpenSans-LightItalic.ttf);
}
@font-face{
    font-family:'OSB' ;
    src: url(../font/OpenSans-SemiBold.ttf);
}
    